<div class="form-card">

  <h2>{{title}}</h2>

  <form [formGroup]="bookForm">
    <div class="form-group">
       <label for="title">Titre</label>
      <input type="texte" id="title" formControlName="title">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="texte" id="description" formControlName="description" rows="4">></textarea>
    </div>

    <div class="form-group">
      <label for="author">Auteur</label>
      <input type="texte" id="author" formControlName="author">
    </div>

    <div class="form-group">
      <label for="isbn">Identifiant</label>
      <input type="number" id="isbn" formControlName="isbn">
    </div>

    <div class="action-buttons">
      <button type="submit" (click)="onSubmitForm()" [disabled]="bookForm.invalid">Enregistrer</button>
    </div>

  </form>

</div>
