



<div class="single-book" *ngIf= "book$ | async as book">

  <div class="single-book-wrapper">
      <a class="single-book-wrapper-link" routerLink="/books">Retour sur la page de liste</a>
  </div>
  <div class="single-book-card">
    <h2 class="single-book-card-title">{{ book.title }}</h2>
    <p class="single-book-description">{{ book.description }}</p>
    <p class="single-book-auteur">Livre ecrit par: {{ book.author }}</p>
    <p class="single-book-isbn"> réference du livre {{ book.isbn }}</p>
    <div class="single-book-card-button-wrapper">
        <button class="single-book-card-btn-text" (click)="onUpdateBook()">Modifier</button>
        <button class="single-book-card-btn-text" (click)="onDeleteBook()"> Supprimer</button>
        <div class="single-book-card-btn-effect"></div>
    </div>
  </div>

</div>
