
.single-book{

  &-card  {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    border-radius: 0.5rem;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);

    p {
      font-weight: 300;
      font-size: 16px;
    }

    &-title {
      display: flex;
      justify-content: center;
      margin: 1rem;
    }

    button {
      background: transparent;
      border: none;
      color: #18534F;
      padding: 0.7rem 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.3s ease;
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
    &-btn-text {
      font-size: 0.95rem;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    &-btn-effect{
      inset: 0;
      background: linear-gradient(45deg, #18534F, #226D68);
      opacity: 0;
      transition: all 0.3s ease;
    }

    &-button-wrapper{
      margin: 1.5rem 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  &-wrapper{
    padding-top: 7rem;
    margin: 1rem 0 0  1rem;

    &-link{
      color: #18534F;
      text-decoration: none;
      font-size: 0.95rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      letter-spacing: 0.5px;
    }
  }

}
